<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marcin.myapplication" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.marcin.myapplication.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.marcin.myapplication.AdventureActivity"
            android:label="@string/title_activity_adventure"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.marcin.myapplication.FunActivity"
            android:label="@string/title_activity_fun"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.example.marcin.myapplication.PhotonDeviceListActivity"
            android:label="@string/title_activity_photon_device_list" >
        </activity>
    </application>

</manifest>
